<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='utf-8' />
	<title>Driving Game</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<style>
		body {
			margin:0;
			padding:0;
			color:#fff;
			background-color:#000000;
		}
		video { 
			position:absolute;
			visibility:hidden;
		}
		.hidden {visibility: hidden;}
		#z1 {
			position: relative;
			z-index:1;
		}
	</style>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
	<script src='public/objectdetect.js'></script>
	<script src='public/objectdetect.handfist.js'></script>
	<script src='public/capture.js'></script>
	<script src='public/racer.js'></script>
</head>
<body>
	<canvas id='racer' style="position: absolute;"></canvas>
	<div id='z1'>
		<video id='v'></video>	
		<canvas id='cLeft' style='float:left;'></canvas>
<!-- 		<canvas id='c'></canvas> -->
		<canvas id='cRight' style='float:right;'></canvas>
		<canvas id='cLeftHidden' class="hidden"></canvas>
		<canvas id='cRightHidden' class="hidden"></canvas>
	</div>
</body>
</html>